<a href="https://colab.research.google.com/github/chimaze12/hamoyetest/blob/master/Hamoye_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
url= 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
raw_data=pd.read_csv(url)
raw_data

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [43]:
A = [1,2,3,4,5,6]
B = [13,21,34]
th=A.append(B)
print(th)

None

In [7]:
raw_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [13]:
n=raw_data.fuel_unit.isnull().sum()

In [14]:
z=raw_data.fuel_unit.count()

In [15]:
percentage=(n/z)*100
print(percentage)

0.6134342091810653

In [17]:
per_round=percentage.round(3)
print(per_round)

0.613

In [18]:
raw_data.groupby('report_year').fuel_cost_per_unit_delivered.mean().idxmax()

1997

In [20]:
raw_data.groupby('fuel_type_code_pudl').fuel_cost_per_unit_burned.mean().idxmin()

'gas'

In [23]:
skewy=raw_data.fuel_qty_burned.skew()
skewy.round(2)

15.85

In [25]:
kurt=raw_data.fuel_qty_burned.kurtosis()
kurt.round(2)

651.37

In [44]:
th=raw_data.fuel_mmbtu_per_unit.quantile(0.75)
th.round(2)

17.01

In [62]:
standard_d= raw_data.fuel_mmbtu_per_unit.std()
standard_d

10.600220307806886